[submodule "OpenKh"]
	path = OpenKh
	url = https://github.com/kenjiuno/OpenKh
	branch = impl-bdx-c
[submodule "docs"]
	path = docs
	url = https://github.com/kenjiuno/KH2AiTutor.git
	branch = gh-pages
